// schemas/{{.Namespace}}/{{.TableName}}.js
export default table({
  // id: col.id(),
  // name: col.string(100),
  // email: col.email().unique(),
  // is_active: col.flag(true),
  // status: col.enum(["active", "inactive"]).default("active"),
  // author: col.belongs_to("{{.Namespace}}.user"),
}).timestamps();
